<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>

    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/theme.css">
    <link rel="stylesheet" href="../css/fly.css">
</head>

<body role="document">
<nav class="navbar navbar-inverse navbar-fixed-top">    <!-- navbar 导航栏-->
    <div class="container">                             <!-- container 容器-->
        <div class="navbar-header">
            <a class="navbar-brand" data-view="home">Let's Go</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="index.html">主页</a></li>
                <li><a href="goods.html">商品列表</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right ">
                <li class="active">
                    <a>
                        <span id='end' class="glyphicon glyphicon-shopping-cart"></span>购物车(<span id="cart-count">0</span>)
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container text-center">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="text-left">购物清单</h4>
        </div>
        <div class="panel-body">
            <table id="cart-table" class="table table-bordered">
                <tr>
                    <th>分类</th><th>名称</th><th>单价(元)</th><th>单位</th><th>数量</th><th>小计</th>
                </tr>
            </table>
        </div>
        <div class="text-right">
            <p>总计：<span id="cart-fare">0.00</span>元</p>
            <p>节省：<span id="cart-saving">0.00</span>元</p>
            <a class="btn btn-primary" href="payment.html">付款</a>
        </div>
    </div>
</div>

<script type="text/javascript" src="../public/jquery.js"></script>
<script type="text/javascript" src="../public/bootstrap.min.js"></script>
<script type="text/javascript" src="../public/underscore.js"></script>
<script type="text/javascript" src="../public/fixtures.js"></script>

<script src="../js/models/item.js"></script>
<script src="../js/models/order.js"></script>
<script src="../js/models/promotion.js"></script>

<script src="../js/cartList.js"></script>
</body>
</html>