<nav class="navbar navbar-inverse navbar-fixed-top">    <!-- navbar 导航栏-->
    <div class="container">                             <!-- container 容器-->
        <div class="navbar-header">
            <a class="navbar-brand" data-view="home">Let's Go</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a id="home" >主页</a></li>
                <li><a id="list">商品列表</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right ">
                <li>
                    <a href="#" id="num"><span id='end' class="glyphicon glyphicon-shopping-cart"></span>购物车 (0)</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
